/**/php_errors.log
/vendor/
/uploads/art/**/*
/uploads/events/**/*
/uploads/eventworkplans/**/*
/uploads/professors/[0-9]/*
/uploads/professors/workproposals/*
/uploads/terms/**/*
/uploads/traits/**/*
/uploads/vereadormirim/parties/**/*
/uploads/vereadormirim/students/**/*

!/uploads/art/.gitkeep
!/uploads/events/.gitkeep
!/uploads/eventworkplans/.gitkeep
!/uploads/professors/.gitkeep
!/uploads/professors/workproposals/.gitkeep
!/uploads/terms/.gitkeep
!/uploads/traits/.gitkeep
!/uploads/vereadormirim/.gitkeep
!/uploads/vereadormirim/parties/.gitkeep
!/uploads/vereadormirim/students/.gitkeep

phinx.json
/model/Notifications/Classes/definitions.json